{% extends 'base.html.twig' %}

{% block title %}Sefareshat index{% endblock %}

{% block body %}
    <h1>Sefareshat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Price</th>
                <th>Status</th>
                <th>Cdate</th>
                <th>PaymentStatus</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sefareshat in sefareshats %}
            <tr>
                <td>{{ sefareshat.id }}</td>
                <td>{{ sefareshat.price }}</td>
                <td>{{ sefareshat.status }}</td>
                <td>{{ sefareshat.cdate ? sefareshat.cdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sefareshat.paymentStatus }}</td>
                <td>
                    <a href="{{ path('app_sefareshat_show', {'id': sefareshat.id}) }}">show</a>
                    <a href="{{ path('app_sefareshat_edit', {'id': sefareshat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sefareshat_new') }}">Create new</a>
{% endblock %}
