{% extends "base.front.twig" %}
{% block breadcrumbs %}
    {% set breadcrumbs = [
        {'label': 'خانه', 'url': path('app_home')},
        {'label': 'مقالات', 'url': path('articles_show')}
    ] %}
    {% set title = 'مقالات' %}
    {{ parent() }} {# This ensures the breadcrumbs are rendered in the base template #}
{% endblock %}
{% block body %}
    <!-- Sidebar Page Container -->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-lg-8 col-md-12 col-sm-12 order-2">
                    <div class="blog-classic">
                        <!-- News Block Two -->
                        {% for item in articles %}
                            <div class="news-block-two wow fadeInUp">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image">
                                            <a href="{{ path('article_show', {'url' :item.url}) }}">
                                               {% if item.Image is not null and item.Image.path is not null and item.Image.name is not null %}
                                                    <img src="{{ item.Image.path ~ '/770x350_' ~ item.Image.name ~ '.webp' }}" alt="">
                                                {% endif %}
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="lower-content">
                                        <ul class="post-info">
                                            <li><span class="far fa-user"></span>ادمین</li>
                                            <li><a href="{{ path('articles_by_item', { entity : 'Article' ,item: 'category', itemtitle: item.Category.title }) }}"><span class="far fa-list-alt"></span>{{ item.Category.title }}</a></li>
                                            <li><span class="far fa-calendar"></span> {{ item.cdate|localizeddatetr('custom', 'none', 'fa_IR@calendar=persian', 'Asia/Tehran', null) }}</li>
                                        </ul>
                                        <h4><a href="blog-detail.html">{{ item.title }}</a></h4>
                                        <div class="text">{{ item.metadesc }}</div>
                                        <div class="btn-box"><a href="blog.html#" class="read-more">مشاهده ی بیشتر<span class="fa fa-arrow-right"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- Styled Pagination-->
                        <div class="styled-pagination text-center">
                            <ul class="clearfix">
                                {% if currentPage > 1 %}
                                    <li class="prev-post"><a href="{{ path('articles_show', {page: currentPage - 1}) }}"><span class="flaticon-back-1"></span></a></li>
                                {% endif %}
                                {% for i in 1..totalPages %}
                                    <li class="{{ currentPage == i ? 'active' : '' }}"><a href="{{ path('articles_show', {page: i}) }}">{{ i }}</a></li>
                                {% endfor %}
                                {% if currentPage < totalPages %}
                                    <li class="next-post"><a href="{{ path('articles_show', {page: currentPage + 1}) }}"><span class="flaticon-next-1"></span></a></li>
                                {% endif %}
                            </ul>
                        </div>

                    </div>
                </div>

                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                    {{ include('default/front/article/sidebar.twig') }}
                </div>

            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->

    <!--Clients Section-->
    <section class="clients-section style-two">
        <div class="auto-container">
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item"><figure class="image-box"><a href="blog.html#"><img src="images/clients/1.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="blog.html#"><img src="images/clients/2.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="blog.html#"><img src="images/clients/3.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="blog.html#"><img src="images/clients/4.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="blog.html#"><img src="images/clients/5.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="blog.html#"><img src="images/clients/1.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="blog.html#"><img src="images/clients/2.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="blog.html#"><img src="images/clients/3.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="blog.html#"><img src="images/clients/4.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="blog.html#"><img src="images/clients/5.png" alt=""></a></figure></li>
            </ul>
        </div>
    </section>
    <!--End Clients Section-->
{% endblock %}