{% extends "base.front.twig" %}
{% block body %}
    <!-- Sidebar Page Container -->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-lg-8 col-md-12 col-sm-12 order-2">
                    <div class="blog-detail">
                        <div class="news-block-two">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image">
                                        {% if article.Image is not null and article.Image.path is not null and article.Image.name is not null %}
                                             <img src=" {{ article.Image.path ~ '/770x350_' ~ article.Image.name ~ '.webp' }}" alt="">
                                        {% endif %}
                                    </figure>
                                </div>
                                <div class="lower-content">
                                    <ul class="post-info">
                                        <li><span class="far fa-user"></span> ادمین</li>
                                        <li><span class="far fa-list-alt"></span><a href="{{ path('articles_by_item', { entity : 'Article' ,item: 'category', itemtitle: article.Category.title }) }}">{{ article.Category.title }}</a></li>
                                        <li><span class="far fa-calendar"></span>{{ article.cdate|localizeddatetr('custom', 'none', 'fa_IR@calendar=persian', 'Asia/Tehran', null) }}</li>
                                    </ul>
                                    {{ article.text|raw }}
                                </div>
                            </div>
                        </div>

                        <!-- Other Options -->
                        <div class="post-share-options clearfix">
                            <div class="pull-left">
                                <p>برچسب ها : </p>
                                <ul class="tags">
                                    {% for barchasb in article.barchasbs %}
                                    <li><a href="{{ path( 'articles_by_item', {'entity': 'Article','item': 'barchasb', 'itemtitle': barchasb.title} ) }}">{{ barchasb.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="pull-right">
                                <p>مارو دنبال کنید: </p>
                                <ul class="social-icon">
                                    <li><a href="blog-detail.html#"><span class="fab fa-facebook"></span></a></li>
                                    <li><a href="blog-detail.html#"><span class="fab fa-whatsapp"></span></a></li>
                                    <li><a href="blog-detail.html#"><span class="fab fa-skype"></span></a></li>
                                    <li><a href="blog-detail.html#"><span class="fab fa-twitter"></span></a></li>
                                    <li><a href="blog-detail.html#"><span class="fab fa-google-plus"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Comments Area -->
                        <div class="comments-area">
                        <!--Comment Form-->
                        <div class="comment-form">
                            <div class="group-title">
                                <h3>نظر خود را اضافه کنید</h3>
                            </div>
                            <form method="post" action="{{ path('app_add_message',{'entity' : 'Article'}) }}">
                                <div class="row">
                                    <div class="form-group col-6">
                                        <p class="pb-2">:نام و نام خانوادگی</p>
                                        <input type="text" name="fullName" placeholder="نام و نام خانوادگی خوپ را وارد کنید" required="">
                                    </div>
                                    <input type="hidden" name="article" value="{{ article.id }}">
                                    <div class="form-group col-6">
                                        <p class="pb-2">:آدرس ایمیل</p>
                                        <input type="email" name="email" placeholder="آدرس ایمیل حود را وارد کنید" required="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <textarea name="text" placeholder="نوشته خود را بنویسید" required=""></textarea>
                                </div>
                                <input type="hidden" name="type" value="1">
                                <div class="form-group">
                                    <button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="btn-title">ثبت نظر</span> </button>
                                </div>
                            </form>
                        </div>
                            <div class="group-title">
                                <h3>نظرات ثبت شده</h3>
                            </div>
                            {% for item in findEntitiesWithCriteria('App\\Entity\\Comment',null, {'published': '1', 'type': '1', 'article': article.id}) %}
                                <div class="comment-box">
                                    <div class="comment">
                                        <div class="author-thumb"><img src="{{ asset('front/images/user.jpg') }}" alt=""></div>
                                        <div class="comment-info">
                                            <div class="name">{{ item.fullname }}</div>
                                            <div class="date">{{ item.cdate|localizeddatetr('custom', 'none', 'fa_IR@calendar=persian', 'Asia/Tehran', null) }}</div>
                                        </div>
                                        <div class="text">{{ item.text }}</div>
{#                                        <a href="blog-detail.html#" class="reply-btn">Reply</a>
#}                                    </div>
                                </div>

{#                                <div class="comment-box reply-comment">
                                    <div class="comment">
                                        <div class="author-thumb"><img src="images/resource/avatar-2.jpg" alt=""></div>
                                        <div class="comment-info">
                                            <div class="name">Donal Smith</div>
                                            <div class="date">1 hours ago</div>
                                        </div>
                                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet tempor tempor. Pellentesque facilisis, ligula ut porta.</div>
                                        <a href="blog-detail.html#" class="reply-btn">Reply</a>
                                    </div>
                                </div>#}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                    {{ include('default/front/article/sidebar.twig') }}
                </div>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->

    <!--Clients Section-->
    <section class="clients-section style-two">
        <div class="auto-container">
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item"><figure class="image-box"><a href="blog-detail.html#"><img src="images/clients/1.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="blog-detail.html#"><img src="images/clients/2.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="blog-detail.html#"><img src="images/clients/3.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="blog-detail.html#"><img src="images/clients/4.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="blog-detail.html#"><img src="images/clients/5.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="blog-detail.html#"><img src="images/clients/1.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="blog-detail.html#"><img src="images/clients/2.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="blog-detail.html#"><img src="images/clients/3.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="blog-detail.html#"><img src="images/clients/4.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="blog-detail.html#"><img src="images/clients/5.png" alt=""></a></figure></li>
            </ul>
        </div>
    </section>
    <!--End Clients Section-->
{% endblock %}