{% extends "base.html.twig" %}
{% block title %}a{% endblock title %}
{% block css %}
    <link href="{{ asset('panel/user/persian-datepicker.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock css %}
{% block jshead %}
    <script src="{{ asset('panel/assets/js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ asset('panel/user/persian-date.min.js') }}"></script>
    <script src="{{ asset('panel/user/persian-datepicker.min.js') }}"></script>
    <script src="{{ asset('panel/user/moment.min.js') }}"></script>
{% endblock jshead %}
{% block body %}
    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data','id':'data-form'}}) }}
<input type="hidden" value="درباره من" name="sections[0][type]">
<input type="hidden" value="تجربیات" name="sections[1][type]">
<input type="hidden" value="تحصیلات" name="sections[2][type]">
<input type="hidden" value="توانایی ها" name="sections[3][type]">
<input type="hidden" value="شبکه های اجتماعی" name="sections[4][type]">

        <div class="container-fluid">
            <div class="row">
                <main class="container mt-4">
                    <div class="tab-container">
                        <div class="tabs mb-3">
                            <button class="btn btn-primary" id="defaultOpen" type="submit" ><i class="bi bi-info-square-fill" style='font-size:24px'></i> اطلاعات عمومی</button>
                            <button class="btn btn-primary" type="submit" ><i class="bi bi-person-square "style='font-size:24px'></i> درباره من</button>
                            <button class="btn btn-primary" type="submit"><i class="bi bi-clock-history" style='font-size:24px'></i> تجربیات</button>
                            <button class="btn btn-primary" type="submit"><i class="bi bi-building" style='font-size:24px'></i> تحصیلات</button>
                            <button class="btn btn-primary" type="submit"><i class="bi bi-incognito" style='font-size:24px'></i>مهارت ها</button>
                            <button class="btn btn-primary" type="submit"><i class="bi bi-reception-4 " style='font-size:24px'></i>شبکه های اجتماعی</button>
                        </div>
                        <div class="tab-content-container">
                            <div class="tab-content" id="Step1">
                                <div class="row">
                                    <div class="col-8">
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="full_name" class="form-label">نام و نام خانوادگی:</label>
                                            <input type="text" id="full_name" name="full_name" class="form-control" placeholder="نام و نام خانوادگی">
                                            <div class="text-muted fs-7">نام و نام خانوادگی خود را به صورت کامل وارد کنید.</div>
                                        </div>
                                        <div class="col-6">
                                            <label for="designation" class="form-label">شغل:</label>
                                            <input type="text" id="designation" name="designation" class="form-control" placeholder="برای مثال:گرافیست">
                                            <div class="text-muted fs-7">شغل خود را وارد کنید.</div>
                                        </div>
                                        <div class="col-6">
                                            <label for="address" class="form-label">آدرس:</label>
                                            <input type="text" id="address" name="address" class="form-control" placeholder="برای مثال: ایران - تهران">
                                            <div class="text-muted fs-7">آدرس حدودی خود را وارد کنید.</div>
                                        </div>
                                        <div class="col-6">
                                            <label for="phone" class="form-label">تلفن:</label>
                                            <input type="text" id="phone" name="phone" class="form-control" dir="rtl" placeholder="برای مثال: 09123456789">
                                            <div class="text-muted fs-7">شماره تماس حود را وارد کنید.</div>
                                        </div>
                                        <div class="col-6">
                                            <label for="email" class="form-label">ایمیل:</label>
                                            <input type="text" id="email" name="email" class="form-control" placeholder="برای مثال: example@example">
                                            <div class="text-muted fs-7">ایمیل خود را وارد کنید.</div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-4">

                                    <!--begin::کناری column-->
                                    <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">
                                            <!--begin::Thumbnail settings-->
                                            <div class="card card-flush py-4">
                                                    <!--begin::کارت header-->
                                                    <div class="card-header">
                                                            <!--begin::کارت title-->
                                                            <div class="card-title">
                                                                    <h2>تصویر پروفایل</h2>
                                                            </div>
                                                            <!--end::کارت title-->
                                                    </div>
                                                    <!--end::کارت header-->
                                                    <!--begin::کارت body-->
                                                    <div class="card-body text-center pt-0">
                                                            <!--begin::Image input-->
                                                            <!--begin::Image input placeholder-->
{#                                                            <style>.image-input-placeholder { background-image: url('{%if userInformation.image %}{{ userInformation.image.path ~ '/300x300_' ~ userInformation.image.name ~ '.webp' }}{%else%}https://metronictheme.job100.ir/rtl/metronic8/demo8/dist/assets/media/svg/files/blank-image.svg{% endif%}'); } [data-bs-theme="dark"] .image-input-placeholder { background-image: url('{%if userInformation.image %}{{ userInformation.image.path ~ '/300x300_' ~ userInformation.image.name ~ '.webp' }}{%else%}https://metronictheme.job100.ir/rtl/metronic8/demo8/dist/assets/media/svg/files/blank-image.svg{% endif%}'); }</style>
#}                                                            <!--end::Image input placeholder-->
                                                            <div class="image-input image-input-empty image-input-outline image-input-placeholder mb-3" data-kt-image-input="true">
                                                                    <!--begin::نمایش existing avatar-->
                                                                    <div class="image-input-wrapper w-150px h-150px"></div>
                                                                    <!--end::نمایش existing avatar-->
                                                                    <!--begin::Tags-->
                                                                    <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="تعویض آواتار">
                                                                            <i class="ki-duotone ki-pencil fs-7">
                                                                                    <span class="path1"></span>
                                                                                    <span class="path2"></span>
                                                                            </i>
                                                                            <!--begin::Inputs-->
                                                                            <input type="file" name="file" accept=".png, .jpg, .jpeg" />
                                                                            <input type="hidden" name="avatar_remove" />
                                                                            <!--end::Inputs-->
                                                                    </label>
                                                                    <!--end::Tags-->
                                                                    <!--begin::انصراف-->
                                                                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="انصراف avatar">
                                                                            <i class="ki-duotone ki-cross fs-2">
                                                                                    <span class="path1"></span>
                                                                                    <span class="path2"></span>
                                                                            </i>
                                                                    </span>
                                                                    <!--end::انصراف-->
                                                                    <!--begin::حذف-->
                                                                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="حذف آواتار">
                                                                            <i class="ki-duotone ki-cross fs-2">
                                                                                    <span class="path1"></span>
                                                                                    <span class="path2"></span>
                                                                            </i>
                                                                    </span>
                                                                    <!--end::حذف-->
                                                            </div>
                                                            <!--end::Image input-->
                                                            <!--begin::توضیحات-->
                                                            <div class="text-muted fs-7">یک عکس پرسنلی با سایز 300*200 وارد کنید</div>
                                                            <!--end::توضیحات-->
                                                    </div>
                                                    <!--end::کارت body-->
                                            </div>
                                            <!--end::Thumbnail settings-->
                                    </div>
                                    <!--end::کناری column-->
                                                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="navigation-buttons mt-3">
                            <button type="submit" class="btn btn-secondary" onclick="previousTab()">قبلی</button>
                            <button type="submit" class="btn btn-primary" onclick="nextTab()">بعدی</button>
                            <button type="submit" class="btn btn-primary float-end">ارسال</button>
                        </div>
                    </div>
                </main>
            </div>

        </div>

    {{ form_end(form) }}
{% endblock body %}
{% block js %}

{% endblock %}